[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = ">=3.8.1"
parameterized = ">=0.9.0"
pyparsing = "==3.1.1"
tqdm = ">=4.66.2"

[dev-packages]

[requires]
python_version = "3.10"
